@font-face {
    font-family: 'CascadiaNerd';
    src: url('./fonts/CaskaydiaCoveNerdFont-Regular.ttf');
}

body {
    background-color: #272b3b;
    color: white;
    font-family: 'CascadiaNerd';
}

header {
    background-color: blue;
    border: 2px solid green;
    padding: 20px;
}

.header-title {
    border: 2px solid red;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    left: 10px;
    position: relative;
}