@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #dadada;
  --background-color: #24283b;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: var(--foreground-rgb);
  background-color: var(--background-color);
}

.debug {
  border-width: 1px;
  border-color: red;
  border-style: solid;
}

/* .name b {
  font-size: 500%
}

.name p {
  font-size: 150%
} */
